//antialiased,subpixel-antialiased,none
$font-smoothing: antialiased;

//auto,optimizeSpeed,optimizeLegibility,geometricPrecision
$text-rendering: auto;

$base-font-family:'Open Sans', sans-serif;
$secondary-font-family: 'Poppins', sans-serif;
$base-font-size: 14px;
$base-font-color:hsl(208, 11%, 55%);
$base-background-color: #fff;

$color-primary: hsl(322, 100%, 66%);
$color-secondary: hsl(192, 100%, 9%);

//$color-accent

$breakpoint-tablet: 648px;
$breakpoint-mobile: 480px;

//path
$path-image: "../images/";
$path-font: "../lib/fonts/";

//etc
$site-size: 1080px + 60;
