<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8">
  <title>Huddle landing page with single column layout</title>
  <% include view/metadata/_head %>
</head>
<body>
    <% include view/modules/_header %>
  <main class="l-main">
    <% include view/modules/_intro %>
    <% include view/modules/_subscribe %>
  </main>
  <% include view/modules/_footer %>
<script src="assets/js/app.js" async></script>
</body>
</html>
<% include view/metadata/_head %>
