<section class="intro">
    <header class="intro-header">
        <h1 class="intro-title">
                Build The Community Your Fans Will Love
        </h1>
    </header>
    <p class="intro-desc">
            Huddle re-imagines the way we build communities. You have a voice, but so does 
            your audience. Create connections with your users as you engage in genuine discussion.
    </p>
    <img src="assets/images/screen-mockups.svg" alt="">
</section>