<section class="subscribe">
    <header class="subscribe-header">
        <h1 class="subscribe-title">
                Sign Up For Early Access
        </h1>
    </header>
    <form action="./">
        <div class="col-md-12">
      <div class="col-md-3 col-sm-12">
            <input type="email" class="input" placeholder="example@email.com" name="email" id="">
      </div>  
      <div class="col-md-3 col-sm-12">
            <button type="submit" class="button"> Register</button>
      </div>
      </div>
    </form>
</section>